/* Основные стили */
body {
    font-family: 'Arial', sans-serif;
    background: -webkit-linear-gradient(360deg, #d595ee,#ffbcb7,#f0eee9);
    background: linear-gradient(360deg, #d595ee,#ffbcb7,#f0eee9);
    margin: 0;
    padding: 20px;
}

.blank {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

h3 {
    color: #333;
    text-align: center;
}

/* Стилизация полей ввода */
input[type="text"],
input[type="email"],
input[type="date"],

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Добавляет padding в общую ширину элемента */
}

/* Стилизация радиокнопок */
input[type="radio"] {
    margin-right: 5px;
}

/* Стилизация кнопки отправки */
button {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4cae4c;
}

/* Стилизация плейсхолдера */
::placeholder {
    color: #999;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .blank {
        width: auto;
        padding: 15px;
    }

    input[type="text"],
    input[type="email"],
    input[type="date"],
    button,
    input[type="radio"] {
        width: auto;
        margin-bottom: 15px;
    }

    h3 {
        font-size: 18px;
    }
}