<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Safety work</title>
    <link rel="stylesheet" href="styleAPP.css">
    <link rel="shortcut icon" href="/res/icon.png" />
</head>

<body>
   <form id= "blank" >
      <h3>Бланк удостоверения</h3> 
       <p>Ф /></p>
       <p>Должность </p>
        <p>Разряд </p>
        <p>Группа по электробезопасности </p>
        <p>Цех работника </p>
   
        <p>Электронный адрес(почта) </p>
        
        <p>Дата проверки знаниий по охране труда: </p>
        
        <p>Дата следующей проверки знаниий по охране труда: </p>
        
        <p>Дата медицинской проверки: </p>
        <p>Дата следующей медицинской проверки: </p>
        
        <p>Число талонов </p>
    </form>
   
   
 </body>
</html>