<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safety work</title>
    <link rel="shortcut icon" href="/res/icon.png" />
    <link rel="stylesheet" href="/styleFail.css">
</head>
<body>
    <div class="container">
        <h1>Ошибка входа</h1>
        <p>Неверный логин или пароль. Пожалуйста, проверьте введенные данные и попробуйте снова.</p>
        <p><a href="http://localhost:3000/">Вернуться к форме входа</a></p>
    </div>
</body>
</html>