body {
    font-family: Arial, sans-serif;
    background: -webkit-linear-gradient(360deg, #d595ee,#ffbcb7,#f0eee9);
    background: linear-gradient(360deg, #d595ee,#ffbcb7,#f0eee9);
    display: flex; /* Используем flexbox для центрирования содержимого */
    justify-content: center; /* Гorizontal center */
    align-items: center; /* Vertical center */
    height: 100vh; /* Высота экрана */
    margin: 0; /* Убираем отступы */
}

.container {
    background-color: white; /* Цвет фона формы */
    padding: 20px; /* Внутренние отступы */
    border-radius: 8px; /* Скругление углов */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для формы */
    text-align: center; /* Центрируем текст */
}

.login-form {
    display: flex; /* Используем flexbox для вертикального расположения элементов */
    flex-direction: column; /* Элементы располагаются по вертикали */
    gap: 15px; /* Промежуток между элементами */
}

input {
    padding: 10px; /* Внутренние отступы для инпутов */
    border: 1px solid #ccc; /* Цвет границы */
    border-radius: 5px; /* Скругление углов */
}

button {
    padding: 10px; /* Внутренние отступы для кнопки */
    background-color: #4CAF50; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Скругление углов кнопки */
    cursor: pointer; /* Изменяем стиль курсора при наведении */
}

