body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(360deg, #d595ee,#ffbcb7,#f0eee9);
    margin: 0;
    padding: 20px;
}

#blank {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 10px;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h3 {
    color: #333;
    text-align: center;
}

.btn {
    background-color: green;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
    align-self: center;
    margin: 10px;
}

.btnAddphoto {
    background-color: gray;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
    margin: 10px; /* Center the button horizontally */
}

.picture {
    justify-content: center;
    margin: 10px;
}

.btnAddphoto:hover {
    background-color: black;
}

